.perspective {
  perspective: 2000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.flip {
  animation: pageFlip 0.6s ease-in-out forwards;
}

@keyframes pageFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
