@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Michroma&display=swap');
.mozrilla {
  font-family: 'Mozilla Headline', sans-serif;
}

.logoFont{
   font-family: "Michroma", sans-serif;
}

