@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

